* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS variables */

:root {
    /* Color */
    --text-color: #fff;
    --text-color-alt: #a1a1a6;
    --accent-color: #0071e3;
    --accent-color-alt: #2997ff;
    --body-bg: #000;
    --bg-color: #151516;
    --bg-color-alt: #1d1d1f;
    /* Utils */
    --header-height: 3rem;
}

body {
    color: var(--text-color);
    font-family: var(--body-font);
    background-color: var(--body-bg);
    overflow-x: hidden;
}

button {
    /* To remove all styles */
    all: unset;
    cursor: pointer;
}

a {
    color: var(--accent-color-alt);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.black-background {
    background-color: var(--bg-color);
}

.black-background-alt {
    background-color: var(--bg-color-alt);
}