@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('SF Pro Text'), url('/fonts/SFProText-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Bold.woff2') format('woff2');
}

:root {
    /* Family */
    --body-font: 'SF Pro Text', sans-serif;
    --display-font: 'SF Pro Display', sans-serif;
    /* Body size */
    --smaller-body-size: 0.75rem;
    --big-body-size: 1.25rem;
    --bigger-body-size: 1.50rem;
    /* Title font size */
    --small-title-size: 2rem;
    --normal-title-size: 2.5rem;
    --big-title-size: 2.5rem;
    --bigger-title-size: 2.5rem;
    /* Weight */
    --normal-font: 400;
    --medium-font: 500;
    --semi-bold-font: 600;
    --bold-font: 700
    /* Line height */
    --title-line-height: 1.15;
}


/* Tablet */

@media screen and (min-width: 734px) {
     :root {
        /* Body font size */
        --big-body-size: 1.5rem;
        --bigger-body-size: 1.75rem;
        /* Title font size */
        --small-title-size: 2.5rem;
        --bigger-title-size: 4rem;
    }
}


/* Desktop */

@media screen and (min-width: 1024px) {
     :root {
        /* Body size */
        --smaller-body-size: 1rem;
        --normal-body-size: 1.25rem;
        --big-body-size: 1.75rem;
        --bigger-body-size: 2rem;
        /* Title font size */
        --small-title-size: 3rem;
        --normal-title-size: 3.5rem;
        --big-title-size: 4rem;
        --bigger-title-size: 5rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--display-font);
    font-weight: var(--semi-bold-font);
}

.display-font {
    font-family: var(--display-font);
}

.body-font {
    font-family: var(--body-font);
}