@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('SF Pro Text'), url('/fonts/SFProText-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: local('SF Pro Display'), url('/fonts/SFProDisplay-Bold.woff2') format('woff2');
}